#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [5]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')
engine.begin()

#### 4. Import the users table

In [7]:
users  = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [8]:
users = users.rename(columns={'Id': 'userId'})

#### 6. Import the posts table.

In [9]:
posts = pd.read_sql_query('select * from stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [10]:
posts = posts.rename(columns={'Id': 'postId', 'OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [12]:
new_users = users[['userId','Reputation','Views','UpVotes','DownVotes']]
new_posts = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
merged_df = new_users.merge(new_posts)
merged_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [16]:
print(merged_df.isnull().sum())

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [19]:
merged_df = merged_df.fillna(0)
merged_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16,0
90580,55738,11,0,0,0,115360,2,40,4
90581,55742,6,0,0,0,115366,1,17,0
90582,55744,6,1,0,0,115370,1,13,2
90583,55746,106,1,0,0,115376,1,5,2

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [18]:
merged_df = merged_df.astype({"ViewCount": int})

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [20]:
stats = merged_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00